
main{
  min-height: 500px;
}

#appName{
  font-size: 1.5em;
  text-decoration: none; 
}
#appName:hover{
  color: rgb(118, 171, 197); 
  text-decoration-line: underline;  
}
hr{
  color: black; 
}
.homeLink{
  font-size: 3em; 
  text-align: center; 
}

.about{
  align-items: center;
  height: 500px;
}
.text{
  width: 50%;
  margin: auto;
  padding: 1em;
}
h2{
  text-align: center; 
}
h3{
  text-align: center; 
  background-color: white; 
}
.householdDiv{
  border: 1px solid black; 
  height: auto; 
  background-color: slategray;
}
.addHouseForm{
  padding: 2% 0;
}
footer{
  color: black;
  margin-top: 2em; 
  padding: 2em;
  background: grey;
  position: relative; 
  width: 100%;
  height: 200px;
}
.appInfo{
  float: left; 
}

.selected{
  background-color: red; 
  height: inherit; 
}
#item-list{
  min-height: 300px; 
}
label{
  color: white; 
}
.footer-owner{
  text-decoration: none; 
  color: white; 
}
#addItemForm{
  padding: 2%; 
}
#footer-list{
  float: right; 
}
.footer-text{
  color: white; 
  text-decoration: none; 
  height: inherit;
}
button{
  padding: 5em;
  height: inherit; 
  margin-right: 1em;
  margin-bottom: 4em; 
}